{% extends "base.html" %}

{% block content %}
<h2>Termin buchen</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.customer_name.label }}
        {{ form.customer_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.customer_email.label }}
        {{ form.customer_email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.appointment_type.label }}
        {{ form.appointment_type(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
